.uppercase {
  text-transform: uppercase; }

body {
  overflow-x: hidden;
  /*-----------------------------
    -------- Navbar ---------*/ }
  body .navbar {
    background: #1b4370;
    margin: 0;
    border: none; }
    body .navbar .image-circulo {
      width: 30px; }
    body .navbar .navbar-brand .imagen {
      width: 300px; }
    body .navbar .collapse {
      margin-left: 28%; }
      body .navbar .collapse ul li a {
        color: white;
        font-size: 1.6rem;
        padding: 2em 1em;
        -webkit-transition: .3s;
        transition: .3s;
        font-family: 'PT Sans', sans-serif; }
      body .navbar .collapse ul li a:hover {
        color: #a6a5a5; }
    body .navbar .dropdown-menu {
      background: #b9b9b9; }
  body .contenedor {
    text-align: center;
    margin-bottom: 2em;
    padding-bottom: 1.2em;
    border-bottom: 1px solid #eee; }
    body .contenedor .menu li {
      display: inline; }
      body .contenedor .menu li a {
        padding: 2em 1em;
        color: #a4a3ad;
        font-weight: bold;
        -webkit-transition: .3s;
        transition: .3s; }
      body .contenedor .menu li a:hover {
        text-decoration: none;
        color: #888888; }
      body .contenedor .menu li a.active {
        color: #ec7e9a;
        border-bottom: #ec7e9a solid 1px; }

/*------------------------------------------
  * -------------- Carousel -----------------*/
.carousel,
.item {
  height: 0;
  padding-bottom: 42.5%; }

.active {
  height: 100%; }

.carousel-caption {
  top: 10%; }

.carousel-inner {
  height: 0;
  padding-bottom: 42.5%; }

.carouse-indicators {
  display: none; }
  .carouse-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fff; }

.fill {
  width: 100%;
  height: 0;
  padding-bottom: 42.5%;
  background-position: center;
  background-size: cover;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -o-background-size: cover; }

.carousel-control, carousel-indicators {
  display: none; }

/* ---------------------------------------------------
  --------- Header ------*/
.row_left {
  background: rgba(255, 255, 255, 0.7);
  padding: 1em 3em; }
  .row_left h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 2.8rem;
    color: #515151;
    box-shadow: none; }
  .row_left p {
    font-family: 'Montserrat', sans-serif;
    padding-top: 1em;
    text-align: justify;
    color: #727272; }

.row_right {
  background: rgba(37, 42, 47, 0.7);
  padding: 1em 1em 1.3em 1em; }
  .row_right h2 {
    font-family: 'Roboto Slab', serif;
    border-bottom: 2px dashed white;
    padding-bottom: .5em; }
  .row_right .form-control {
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif; }
  .row_right .form-control:focus {
    box-shadow: none; }
  .row_right form .btn {
    background: white;
    color: black;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1em; }
  .row_right form option {
    background: rgba(37, 42, 47, 0.7); }

/* -------------------------- Footer --------*/
footer p {
  color: #a7b9c6;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  font-size: 1.8rem;
  padding: 2em 0 1em 0; }

/*  ------ Modal ------*/
.modal-content {
  background-color: #f6f7fc; }

.modal-dialog {
  width: 100%;
  margin: 0;
  margin-top: 2%; }
  .modal-dialog .close {
    font-size: 50px; }
  .modal-dialog .modal-body {
    padding-bottom: 10%; }

.registro form {
  width: 25%;
  margin: 5em auto; }
  .registro form .form-control {
    border: none;
    border-bottom: solid 2px #cccdd1;
    font-family: 'Montserrat', sans-serif; }
  .registro form .form-control:focus {
    box-shadow: none; }
  .registro form .btn {
    font-family: 'Montserrat', sans-serif;
    border: none;
    box-shadow: -2px 3px 2px #cccdd1; }

.registrar {
  background-color: #f6f7fc;
  height: 100%; }
  .registrar form {
    width: 50%;
    margin: 3em auto; }

@media screen and (max-width: 768px) {
  .row_right {
    margin-top: 1em; }
  .carousel,
  .item {
    height: 0;
    padding-bottom: 120%; }
  .active {
    height: 100%; }
  .carousel-caption {
    top: 10%; }
  .carousel-inner {
    height: 0;
    padding-bottom: 120%; }
  .fill {
    width: 100%;
    height: 0;
    padding-bottom: 120%; } }

@media screen and (min-width: 414px) {
  .navbar .navbar-brand .imagen-pequena {
    display: none; }
  .navbar .collapse {
    margin-left: 28%; }
    .navbar .collapse ul li a {
      color: white;
      font-size: 1.6rem;
      padding: 2em 1em;
      -webkit-transition: .3s;
      transition: .3s; } }

@media screen and (max-width: 414px) {
  /* ------ Navbar ------*/
  .navbar .navbar-brand {
    padding: 0.5em 1em 2.5em 1em; }
    .navbar .navbar-brand .imagen {
      display: none; }
    .navbar .navbar-brand .imagen-pequena {
      width: 40px; }
  .navbar .collapse {
    margin: 0; }
    .navbar .collapse ul li a {
      color: white;
      font-size: 1.6rem;
      padding: 2em 1em;
      -webkit-transition: .3s;
      transition: .3s; }
  /* ------ Corausel ------*/
  .carousel,
  .item {
    height: 0;
    padding-bottom: 150%; }
  .active {
    height: 100%; }
  .carousel-caption {
    top: 10%; }
  .carousel-inner {
    height: 0;
    padding-bottom: 150%; }
  .fill {
    width: 100%;
    height: 0;
    padding-bottom: 150%; }
  /* ------ Header------*/
  .row_left {
    background: rgba(255, 255, 255, 0.7);
    padding: .5em 2em; }
    .row_left h2 {
      font-family: 'Roboto Slab', serif;
      font-size: 2rem;
      color: #515151;
      box-shadow: none; }
    .row_left p {
      font-family: 'Montserrat', sans-serif;
      padding-top: 1em;
      text-align: justify;
      color: #727272; }
  .row_right {
    display: none; } }

@media screen and (max-width: 320px) {
  .carousel,
  .item {
    height: 0;
    padding-bottom: 200%; }
  .active {
    height: 100%; }
  .carousel-caption {
    top: 5%; }
  .carousel-inner {
    height: 0;
    padding-bottom: 200%; }
  .fill {
    width: 100%;
    height: 0;
    padding-bottom: 200%; }
  footer p {
    font-size: 1.5rem; } }
