.container.registro.registrar
  form(name="sentMessage",id="contactForm",ng-submit="registro(usuario)")
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Nombre
        input(type="text" class="form-control" placeholder="Email" ng-model="usuario.nombre" required)
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Apellido
        input(type="text" class="form-control" placeholder="Email" ng-model="usuario.apellido" required)
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Nombre de usuario
        input(type="text" class="form-control" placeholder="Nick Name" ng-model="usuario.nick" required)
    div.row.control-group.col-md-6
      div(class="form-group col-xs-12 floating-label-form-group controls")
        <label>Casa</label>
        <select name="" id="" class="form-control" ng-model="usuario.casa">
          option(value="MM1-1") MM1-1
          option(value="MM1-2") MM1-2
          option(value="MM1-3") MM1-3
          option(value="MM1-4") MM1-4
          option(value="MM1-5") MM1-5
          option(value="MM1-6") MM1-6
          option(value="MM1-7") MM1-7
          option(value="MM1-8") MM1-8
          option(value="MM1-9") MM1-9
          option(value="MM1-10") MM1-10
          option(value="MM1-11") MM1-11
          option(value="MM1-12") MM1-12
          option(value="MM1-13") MM1-13
          option(value="MM1-14") MM1-14
          option(value="MM1-15") MM1-15
          option(value="MM1-16") MM1-16
          option(value="MM1-17") MM1-17
          option(value="MM1-18") MM1-18
          option(value="MM1-19") MM1-19
          option(value="MM1-20") MM1-20
          option(value="MM1-21") MM1-21
          option(value="MM1-22") MM1-22
          option(value="MM1-23") MM1-23
          option(value="MM1-24") MM1-24
          option(value="MM1-25") MM1-25
          option(value="MM1-26") MM1-26
          option(value="MM2-1") MM2-1
          option(value="MM2-2") MM2-2
          option(value="MM2-3") MM2-3
          option(value="MM2-4") MM2-4
          option(value="MM2-5") MM2-5
          option(value="MM2-6") MM2-6
          option(value="MM2-7") MM2-7
          option(value="MM2-8") MM2-8
          option(value="MM2-9") MM2-9
          option(value="MM2-10") MM2-10
          option(value="MM2-11") MM2-11
          option(value="MM2-12") MM2-12
          option(value="MM2-13") MM2-13
          option(value="MM2-14") MM2-14
          option(value="MM2-15") MM2-15
          option(value="MM2-16") MM2-16
          option(value="MM2-17") MM2-17
          option(value="MM2-18") MM2-18
          option(value="MM2-19") MM2-19
          option(value="MM2-20") MM2-20
          option(value="MM2-21") MM2-21
          option(value="MM2-22") MM2-22
          option(value="MM2-23") MM2-23
          option(value="MM2-24") MM2-24
          option(value="MM2-25") MM2-25
          option(value="MM2-26") MM2-26
          option(value="MM3-1") MM3-1
          option(value="MM3-2") MM3-2
          option(value="MM3-3") MM3-3
          option(value="MM3-4") MM3-4
          option(value="MM3-5") MM3-5
          option(value="MM3-6") MM3-6
          option(value="MM3-7") MM3-7
          option(value="MM3-8") MM3-8
          option(value="MM3-9") MM3-9
          option(value="MM3-10") MM3-10
          option(value="MM3-11") MM3-11
          option(value="MM3-12") MM3-12
          option(value="MM3-13") MM3-13
          option(value="MM3-14") MM3-14
          option(value="MM3-15") MM3-15
          option(value="MM3-16") MM3-16
          option(value="MM3-17") MM3-17
          option(value="MM3-18") MM3-18
          option(value="MM3-19") MM3-19
          option(value="MM3-20") MM3-20
          option(value="MM3-21") MM3-21
          option(value="MM3-22") MM3-22
          option(value="MM3-23") MM3-23
          option(value="MM3-24") MM3-24
          option(value="MM3-25") MM3-25
          option(value="MM3-26") MM3-26
          option(value="MM4-1") MM4-1
          option(value="MM4-2") MM4-2
          option(value="MM4-3") MM4-3
          option(value="MM4-4") MM4-4
          option(value="MM4-5") MM4-5
          option(value="MM4-6") MM4-6
          option(value="MM4-7") MM4-7
          option(value="MM4-8") MM4-8
          option(value="MM4-9") MM4-9
          option(value="MM4-10") MM4-10
          option(value="MM4-11") MM4-11
          option(value="MM4-12") MM4-12
          option(value="MM4-13") MM4-13
          option(value="MM4-14") MM4-14
          option(value="MM4-15") MM4-15
          option(value="MM4-16") MM4-16
          option(value="MM4-17") MM4-17
          option(value="MM4-18") MM4-18
          option(value="MM4-19") MM4-19
          option(value="MM4-20") MM4-20
          option(value="MM4-21") MM4-21
          option(value="MM4-22") MM4-22
          option(value="MM4-23") MM4-23
          option(value="MM4-24") MM4-24
          option(value="MM4-25") MM4-25
          option(value="MM4-26") MM4-26
          option(value="MM5-1") MM5-1
          option(value="MM5-2") MM5-2
          option(value="MM5-3") MM5-3
          option(value="MM5-4") MM5-4
          option(value="MM5-5") MM5-5
          option(value="MM5-6") MM5-6
          option(value="MM5-7") MM5-7
          option(value="MM5-8") MM5-8
          option(value="MM5-9") MM5-9
          option(value="MM5-10") MM5-10
          option(value="MM5-11") MM5-11
          option(value="MM5-12") MM5-12
          option(value="MM5-13") MM5-13
        </select>
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Correo Electronico
        input(type="email" class="form-control" placeholder="Email" ng-model="usuario.email" required)
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Contraseña
          input(type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" required)
    //- div.row.control-group.col-md-6
      div(class="form-group col-xs-12 floating-label-form-group controls")
        <label>Seccion</label>
        <select name="" id="" class="form-control" ng-model="usuario.pago">
          option(value="true") Si
          option(value="false") No
    br
    div(id="success")
    div(class="row control-group col-md-6")
      div(class="form-group col-xs-12")
        //- a(href="/#!/inicio").btn.btn-success.btn-lg Registrar
        button(type="submit" class="btn btn-success btn-lg") Registrar
    div.row.control-group.col-md-6
      div(class="form-group col-xs-12 floating-label-form-group controls")
        <label>Pago</label>
        <select name="" id="" class="form-control" ng-model="usuario.pago">
        option(value="true") Si
        option(value="false") No
