<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
<div class="modal-dialog" role="document">
<div class="modal-content">

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    h2 Ingresar
  </div>
  <div class="modal-body registro" ng-controller="AutenCtrl">
  .alert.alert-success(role="alert",style="display: {{ver}}")
    h3 {{alerta}}
  .alert.alert-danger(role="alert",style="display: {{verError}}")
    h3 {{error}}
  form(name="sentMessage",id="contactForm",ng-submit="sesion(usuario)")
    div(class="row control-group")
      div(class="form-group col-xs-12 floating-label-form-group controls")
        label Correo Electronico
        input(type="email" class="form-control" placeholder="Email" ng-model="usuario.email" required)
    div(class="row control-group")
      div(class="form-group col-xs-12 floating-label-form-group controls")
          label Contraseña
          input(type="password" class="form-control" placeholder="Contraseña" ng-model="usuario.password" required)
    br
    div(id="success")
    div(class="row")
      div(class="form-group col-xs-12")
        //- a(href="/#!/inicio").btn.btn-success.btn-lg Ingresar
        button(type="submit" class="btn btn-success btn-lg") Ingresar

  </div>
</div>
</div>
</div>
